{% extends "base.html" %}


{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1 class = 'lead'>All About Us</h1>
<p>Projection was envisioned to be a platform where people could share their ideas and collaborate with people around
	the world who would have experiences in different fields. It encourages creativity and helps to expound on ideas through
	public feedback and support. Combining both the elements of a social network and a crowdfunding platform, it would 
	take projects to a whole new level, making dreams come into being.</p>
<p>Projection is set up in 2016 by a team of two students, Zachary and Hao Yun from the National University Of Singapore. </p>
</div>
</div>
{% endblock %}