{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  
 		<div class="container">
					  <div class="jumbotron" style="background-color: black;">
					   <div class="row">
					          <div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
					          			<a href="{% url 'opened_subcategories' %}">
							                <div class="panel-body" style='background-color: #dede69'; color='white';>
							                     
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Publishing</p>
							                 </div>
							                 </a>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #dede69'>
							                
							                	<i class="fa fa-camera-retro fa-4x" aria-hidden="true"></i>
							                    <p class="lead">Photography</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #dede69'>
							                
							                	<i class="fa fa-music fa-4x" aria-hidden="true"></i>
							                    <p class="lead">Music</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #dede69'>
							                
							                	<i class="fa fa-deviantart fa-4x" aria-hidden="true"></i>
							                    <p class="lead">Art</p>
							                 </div>
							            </div>
					          		</div>
					          </div>
                         </div> 

                        {#  2nd row -------------------------------------------------------- #}
                         <div class="row">
					          <div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #9e6cff'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Publishing</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #9e6cff'>
							                
							                	<i class="fa fa-camera-retro fa-4x" aria-hidden="true"></i>
							                    <p class="lead">Photography</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #9e6cff'>
							                
							                	<i class="fa fa-music fa-4x" aria-hidden="true"></i>
							                    <p class="lead">Music</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #9e6cff'>
							                
							                	<i class="fa fa-deviantart fa-4x" aria-hidden="true"></i>
							                    <p class="lead">Art</p>
							                 </div>
							            </div>
					          		</div>
					          </div>
                         </div>
                         {#  3rd row -------------------------------------------------------- #}
                         <div class="row">
					          <div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Publishing</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'>
							                
							                	<i class="fa fa-camera-retro fa-4x" aria-hidden="true"></i>
							                    <p class="lead">Photography</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'>
							                
							                	<i class="fa fa-music fa-4x" aria-hidden="true"></i>
							                    <p class="lead">Music</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'>
							                
							                	<i class="fa fa-deviantart fa-4x" aria-hidden="true"></i>
							                    <p class="lead">Art</p>
							                 </div>
							            </div>
					          		</div>
					          </div>
                         </div> 
                         {#  4th row -------------------------------------------------------- #}
                         <div class="row">
					          <div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color:#69b1fb'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Publishing</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #69b1fb'>
							                
							                	<i class="fa fa-camera-retro fa-4x" aria-hidden="true"></i>
							                    <p class="lead">Photography</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #69b1fb'>
							                
							                	<i class="fa fa-music fa-4x" aria-hidden="true"></i>
							                    <p class="lead">Music</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #69b1fb'>
							                
							                	<i class="fa fa-deviantart fa-4x" aria-hidden="true"></i>
							                    <p class="lead">Art</p>
							                 </div>
							            </div>
					          		</div>
					          </div>
                         </div>  
					  </div>
		           </div>
{% endblock %}




