
{% load staticfiles %}
<div class="row">
  <div class="col-xs-6 col-sm-4">
		<div class="panel panel-default" style="background-color: #30308c;">

		  <div class=" lead panel-body" style='background-color: #20195a'>

		    <a href="{% url 'closedgenres' %}" style="font-family:Impact; color:white;">
		    Closed Projects
		    </a>
		  </div>
		  <img src="http://www.hdiphone6wallpapers.net/iphone-6-backgrounds/iphone-6-wallpapers-2/iphone-6-wallpapers-hd-200ptrvx-1080x1920.jpg" style="width:357px;height:500px;"/>
		</div>
  </div>
  <div class="col-xs-6 col-sm-4">
  	<div class="panel panel-default" style="background-color: #ca1730;">
		  <div class=" lead panel-body" style='background-color: #980721'>
		  <a href="{% url 'openedgenres' %}" style="font-family:Impact; color:white;">
		    Opened Projects
		    </a>
		  </div>
		  <img src="http://www.hdiphone6wallpapers.net/iphone-6-backgrounds/iphone-6-wallpapers-2/iphone-6-wallpapers-hd-200ptrvx-1080x1920.jpg" style="width:357px;height:500px;"/>
		</div>
  </div>
  
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4">
  	<div class="panel panel-default" style='background-color:#3a9c53'>
		  <div class=" lead panel-body" style='background-color: #324832'>
		  <font style="font-family:Impact; color:white;">
		    Involved Projects
		    </font>
		  </div>
		  <img src="http://www.hdiphone6wallpapers.net/iphone-6-backgrounds/iphone-6-wallpapers-2/iphone-6-wallpapers-hd-200ptrvx-1080x1920.jpg" style="width:357px;height:500px;"/>
		</div>
  </div>
</div>

