{% extends "base.html" %}

{% block content %}
		
					          <div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Academic</p>
							                 </div>
							            </div>

					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Anthologies</p>
							                 </div>
							            </div>
					          	</div>
					          	</div>
					          	<div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Art Books</p>
							                 </div>
							            </div>

					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Calenders</p>
							                 </div>
							            </div>
					          	</div>
					          	</div>
					          	<div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Children's Book</p>
							                 </div>
							            </div>

					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Fiction</p>
							                 </div>
							            </div>
					          	</div>
					          	</div>
					          	<div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Literary Books</p>
							                 </div>
							            </div>

					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Non-fiction</p>
							                 </div>
							            </div>
					          	</div>
					          	</div>
					          	<div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Periodicals</p>
							                 </div>
							            </div>

					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Poetry</p>
							                 </div>
							            </div>
					          	</div>
					          	</div>
					          	<div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Radio &amp; Podcast </p>
							                 </div>
							            </div>

					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Translations</p>
							                 </div>
							            </div>
					          	</div>
					          	</div>
					          	<div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Young Adults</p>
							                 </div>
							            </div>

					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<i class="fa fa-book fa-4x" aria-hidden="true"></i>

							                    <p class="lead">Zines</p>
							                 </div>
							            </div>
					          	</div>
					          	</div>
{% endblock %}
