{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
		
					          <div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: rgb(86, 156, 90)'; color='white';>
							                
							                	<img src="{% static 'img/subcategories/academic.png'%}" height=57px; />

							                    <p class="lead">Academic</p>
							                 </div>
							            </div>

					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: rgb(86, 156, 90)'; color='white';>
							                
							                	<img src="{% static 'img/subcategories/anthologies.png'%}" height=57px; />

							                    <p class="lead">Anthologies</p>
							                 </div>
							            </div>
					          	</div>
					          	</div>
					          	<div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color:rgb(165, 210, 168)'; color='white';>
							                
							                	<img src="{% static 'img/subcategories/artbook.png'%}" height=57px; />

							                    <p class="lead">Art Books</p>
							                 </div>
							            </div>

					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: rgb(165, 210, 168)'; color='white';>
							                
							                	<img src="{% static 'img/subcategories/calender.png'%}" height=57px; />

							                    <p class="lead">Calenders</p>
							                 </div>
							            </div>
					          	</div>
					          	</div>
					          	<div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: rgb(86, 156, 90)'; color='white';>
							                
							                	<img src="{% static 'img/subcategories/childrenbook.png'%}" height=57px; />

							                    <p class="lead">Children's Book</p>
							                 </div>
							            </div>

					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: rgb(86, 156, 90)'; color='white';>
							                
							                	<img src="{% static 'img/subcategories/fiction.png'%}" height=57px; />
							                    <p class="lead">Fiction</p>
							                 </div>
							            </div>
					          	</div>
					          	</div>
					          	<div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: rgb(165, 210, 168)'; color='white';>
							                
							                	<img src="{% static 'img/subcategories/literary.png'%}" height=57px; />
							                    <p class="lead">Literary Books</p>
							                 </div>
							            </div>

					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: rgb(165, 210, 168)'; color='white';>
							                
							                	<img src="{% static 'img/subcategories/non-fiction.png'%}" height=57px; />

							                    <p class="lead">Non-fiction</p>
							                 </div>
							            </div>
					          	</div>
					          	</div>
					          	<div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: rgb(86, 156, 90)'; color='white';>
							                
							                	<img src="{% static 'img/subcategories/periodicals.png'%}" height=57px; />

							                    <p class="lead">Periodicals</p>
							                 </div>
							            </div>

					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: rgb(86, 156, 90)'; color='white';>
							                
							                	<img src="{% static 'img/subcategories/peotry.png'%}" height=57px; />

							                    <p class="lead">Poetry</p>
							                 </div>
							            </div>
					          	</div>
					          	</div>
					          	<div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: rgb(165, 210, 168)'; color='white';>
							                
							                	<img src="{% static 'img/subcategories/radio.png'%}" height=57px; />

							                    <p class="lead">Radio &amp; Podcast </p>
							                 </div>
							            </div>

					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: rgb(165, 210, 168)'; color='white';>
							                
							                	<img src="{% static 'img/subcategories/translation.png'%}" height=57px; />

							                    <p class="lead">Translations</p>
							                 </div>
							            </div>
					          	</div>
					          	</div>
					          	<div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: rgb(86, 156, 90)'; color='white';>
							                
							                	<img src="{% static 'img/subcategories/youngadult.png'%}" height=57px; />

							                    <p class="lead">Young Adults</p>
							                 </div>
							            </div>

					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: rgb(86, 156, 90)'; color='white';>
							                
							                	<img src="{% static 'img/subcategories/zines.png'%}" height=57px; />
							                    <p class="lead">Zines</p>
							                 </div>
							            </div>
					          	</div>
					          	</div>
{% endblock %}