{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  
 		<div class="container">
					  <div class="jumbotron" style="background-color: #85cca5;">
					   <div class="row">
					          <div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
					          			<a href="{% url 'closed_subcategories' %}">
							                <div class="panel-body" style='background-color: #dede69'; color='white';>
							                     
							                	<img src="{% static 'img/writing.png'%}" height=57px; />

							                    <p class="lead">Publishing</p>
							                 </div>
							                 </a>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #dede69'>
							                
							                	<img src="{% static 'img/photography.png'%}" height=57px; />
							                    <p class="lead">Photography</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #dede69'>
							                
							                	<img src="{% static 'img/music.png'%}" height=57px; />
							                    <p class="lead">Music</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #dede69'>
							                
							                	<img src="{% static 'img/arts.png'%}" height=57px; />
							                    <p class="lead">Art</p>
							                 </div>
							            </div>
					          		</div>
					          </div>
                         </div> 

                        {#  2nd row -------------------------------------------------------- #}
                         <div class="row">
					          <div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #9e6cff'; color='white';>
							                
							                	<img src="{% static 'img/comics.png'%}" height=57px; />

							                    <p class="lead">Comic</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #9e6cff'>
							                
							                	<img src="{% static 'img/crafts.png'%}" height=57px; />
							                    <p class="lead">Crafts</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #9e6cff'>
							                
							                	<img src="{% static 'img/dance.png'%}" height=57px; />
							                    <p class="lead">Dance</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #9e6cff'>
							                
							                	<img src="{% static 'img/design.png'%}" height=57px; />
							                    <p class="lead">Design</p>
							                 </div>
							            </div>
					          		</div>
					          </div>
                         </div>
                         {#  3rd row -------------------------------------------------------- #}
                         <div class="row">
					          <div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'; color='white';>
							                
							                	<img src="{% static 'img/fashion.png'%}" height=57px; />

							                    <p class="lead">Fashion</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'>
							                
							                	<img src="{% static 'img/films.png'%}" height=57px; />
							                    <p class="lead">Film</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'>
							                
							                	<img src="{% static 'img/food.png'%}" height=57px; />
							                    <p class="lead">Food</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #d46e26'>
							                
							                	<img src="{% static 'img/games.png'%}" height=57px; />
							                    <p class="lead">Games</p>
							                 </div>
							            </div>
					          		</div>
					          </div>
                         </div> 
                         {#  4th row -------------------------------------------------------- #}
                         <div class="row">
					          <div class="col-md-12">
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color:#69b1fb'; color='white';>
							                
							                	<img src="{% static 'img/journalism.png'%}" height=57px; />
							                    <p class="lead">Journalism</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #69b1fb'>
							                
							                	<img src="{% static 'img/theatre.png'%}" height=57px; />
							                    <p class="lead">Theatre</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #69b1fb'>
							                
							                	<img src="{% static 'img/technology.png'%}" height=57px; />
							                    <p class="lead">Technology</p>
							                 </div>
							            </div>
					          		</div>
					          		<div class="col-md-3" >
					          			<div class="panel panel-default">
							                <div class="panel-body" style='background-color: #69b1fb'>
							                
							                	<img src="{% static 'img/Writing.png'%}" height=57px; />
							                    <p class="lead">Art</p>
							                 </div>
							            </div>
					          		</div>
					          </div>
                         </div>  
					  </div>
		           </div>
{% endblock %}




